table.simpletable {
  border: 1px solid #DBD7DF;
  background-color: #FFFFFF;
  text-align: left;
  border-collapse: collapse;
  overflow: auto;
  padding: 5px 5px 10px 20px
  font-family: "Arial Black", Gadget, sans-serif;
  color: #353535;
  
  
}
table.legendtable {
  
  background-color: #FFFFFF;
  text-align: left;
  border-collapse: collapse;
  overflow: auto;
  padding: 5px 5px 10px 20px
  font-family: "Arial Black", Gadget, sans-serif;
  color: #353535;
  
  
}
table.simpletable tbody td {
  font-size: 13px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #353535;
  padding: 5px 8px 5px 8px;
  border: 1px solid #DBD7DF;
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;

}



table.legendtable tbody td {
  font-size: 13px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #353535;
  padding: 5px 8px 5px 8px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
  border: 13px solid white;

}

table.simpletable tr:nth-child(even) {
  background-color: #F6F8FA;
  border: 1px solid #DBD7DF;
  
}

table.simpletable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  border: 1px solid #DBD7DF;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #353535;
  padding: 5px 8px 5px 8px;
}
table.simpletable thead th:first-child {
  border: 1px solid #DBD7DF;
}

td.pfail {
  background-color: lightcoral;
  padding: 5px 5px 10px 20px
  font-family: "Arial Black", Gadget, sans-serif;
}
td.psucc {
  background-color: #c8f7bc;
  padding: 5px 5px 10px 20px
  font-family: "Arial Black", Gadget, sans-serif;
}
td.cfail {
  background-color: lightyellow;
  padding: 5px 5px 10px 20px
  font-family: "Arial Black", Gadget, sans-serif;
}

td.wgfail {
  padding: 5px 5px 10px 20px
  font-family: "Arial Black", Gadget, sans-serif;
  background-color: rgb(194,172,255 );
}





p {
  padding: 5px 25px 0px 40px;
  font-family: "Arial Black", Gadget, sans-serif;
}

h1 {
  padding: 5px 0px 0px 5px;
  color: #353535;
  font-family: "Arial Black", Gadget, sans-serif;
}
h2 {
  padding: 5px 0px 0px 5px;
  border-bottom: 1px solid #eaecef;
  color: #353535;
  font-family: "Arial Black", Gadget, sans-serif;
}
h3 {
  padding: 5px 0px 0px 20px;
  text-decoration: underline;
  color: #353535;
  font-family: "Arial Black", Gadget, sans-serif;
}
h4 {
  padding: 5px 0px 0px 35px;
  color: #353535;
  font-family: "Arial Black", Gadget, sans-serif;
}