#############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Notebook Checkpoints
.ipynb_checkpoints/

#JaCoCo
jacoco-0.8.5.zip
jacoco-0.8.5
jacoco-0.8.5/
jacoco/
reports/
verboseout.txt

#Java URL class
URL.java